{% extends 'music/top.html' %}

{% block title %}{{ album.title }}{% endblock %}

{% block body %}
<div class="album_back">
    <p><br /></p>
    <div class="sjanger_list">

        <ul>
            <li><h3>{{ album.title }}</h3></li>
            {% for sanger in sang %}
                {% if sanger.album == album %}
                <li><a href="{% url 'music:sangen' sanger.id %}">{{ sanger.song_name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>
    <p><br /></p>

</div>
{% endblock %}